{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-stylus",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@app/(.*)$",
    "^@pages/(.*)$",
    "^@widgets/(.*)$",
    "^@features/(.*)$",
    "^@entities/(.*)$",
    "^@shared/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^../(.*)[^(.styl|.css)]",
    "^./(.*)[^(.styl|.css)]",
    "^./(.*)(.styl|.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
