@import '../../shared/base-style.styl'

HEADER_HEIGHT = 78px

.contacts
  &__header
    box-sizing border-box
    padding 8px 16px 8px 20px
    display flex
    height HEADER_HEIGHT
    background-color COLOR_BACKGROUND_LIGHTER
    color COLOR_ON_BACKGROUND_LIGHTER

  &__empty
    flex-grow 1

  &__content
    display flex
    flex-direction column
    height 'calc(100% - %s)' % HEADER_HEIGHT
    max-height 'calc(100% - %s)' % HEADER_HEIGHT
    justify-content center
    align-items center
    overflow hidden
