@import "../../base-style.styl"

.root

    &--h1
        ui_text-weight(bold)
        ui_text-size(xxxl)
        margin: SPACE_S

    &--h2
        ui_text-weight(bold)
        ui_text-size(xxl)
        margin: SPACE_S

