 
/* COLORS */
COLOR_PRIMARY = #00A5EE
COLOR_PRIMARY_GRADIENT = linear-gradient(127.12deg, #00EAF9 -13.37%, #00BDF9 96.31%)
COLOR_SECONDARY = #F2F2F7
COLOR_DANGER = #FF0000
COLOR_BACKGROUND = #F7FCFE
COLOR_BACKGROUND_LIGHTER = #FFFFFF
COLOR_ON_LIGHT= #000000
COLOR_ON_DARK = #FFFFFF


/* TEXT WEIGHT */
.text--weight_normal
    font-weight: 400
.text--weight_bold
    font-weight: 500

/* TEXT SIZE */
.text--size_s
  font-size: 0.75rem /* 12px */
  line-height: 0.75rem /* 12px */
.text--size_m
  font-size: 0.75rem /* 12px */
  line-height: 1rem /* 16px */
.text--size_l
  font-size: 1rem /* 16px */
  line-height: 1.5rem /* 24px */
.text--size_xl
  font-size: 1.25rem /* 20px */
  line-height: 1.5rem /* 24px */
.text--size_xxl	
  font-size: 1.75rem /* 28px */
  line-height: 2rem /* 32px */

/* BORDER ROUNDED */
.block--rounded_s
    border-radius: 8px
.block--rounded_m	
    border-radius: 10px
.block--rounded_l	
    border-radius: 16px








    