@import '../../base-style.styl'

.table__viewport
  ui_scrollbar()
  width 100%
  height 100%
  overflow-x auto
  background-color COLOR_SECONDARY

  >.table__table
    table-layout fixed
    height min-content

    >.table__body
    >.table__head
      ui_scrollbar()
      display block
      width min-content
      overflow hidden

      >.table__row
        width min-content
        overflow hidden
        display block

        >.table__head-cell
        >.table__body-cell
          padding 5px

    >.table__body
      max-height 50vh
      border-bottom 1px solid COLOR_SECONDARY
      overflow-y auto

      >.table__row
        >.table__body-cell
          ui_text-size(l)
          overflow hidden
          text-overflow ellipsis
          background-color COLOR_BACKGROUND_LIGHTER
          border-top 1px solid COLOR_SECONDARY

          &:not(:first-child)
            border-left 1px solid COLOR_SECONDARY

    .table__head
      >.table__row
        width min-content
        display block

        >.table__head-cell
          ui_text-weight(bold)
          ui_text-size(l)
